.table__container--scrollable {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

.table__base {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    border: none;
}