.table-row {
    text-align: left;
    background-color: var(--color-neutral-light-2);
}

/* Habilitar bloco comentado para fazer linhas de cores alternadas */
/* .table-row:nth-child(even) {
    background-color: var(--color-neutral-light-1);
} */

.table-row.table-header-row {
    background-color: var(--color-neutral-light-1);
    /* Habilitar bloco comentado para destacar título quando há linhas de cores alternadas */
    /* background-color: var(--color-neutral-base); */
}

.table-row.table-footer-row {
    background-color: transparent;
}